body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}
.links {
  padding: 10px;
  display: flex;
}
.links a {
  margin: 20px 15px 20px 10px;
  text-decoration: none;
  color: hsl(233, 8%, 79%);
}
.links a:hover {
  color: hsl(5, 85%, 63%);
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
}
.title {
  font-size: 40px;
  font-weight: bolder;
  color: hsl(240, 100%, 5%);
  width: 300px;
}
.submain {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  padding: 10px 32px;
  border: 0;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-top: 10px;
  cursor: pointer;
}
.last h3 {
  cursor: pointer;
}
.last h3:hover {
  color: hsl(5, 85%, 63%);
}
button:hover {
  background-color: hsl(240, 100%, 5%);
}
.title-text p {
  color: hsl(236, 13%, 42%);
}
.second {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 20px;
  font-size: 12px;
  max-height: 466px;
}
.second-title {
  font-size: 30px;
  color: hsl(35, 77%, 62%);
}
.submain-second {
  margin-top: 30px;
}
.first-child,
.second-child,
.third-child {
  margin-top: 30px;
}
.first-child,
.second-child,
.third-child h2 {
  cursor: pointer;
}

.first-child h2:hover,
.second-child h2:hover,
.third-child h2:hover {
  color: hsl(35, 77%, 62%);
}

.last {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}
.last img {
  max-width: 80px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}
.list p {
  display: block;
}
.list-content {
  margin-left: 20px;
  font-size: 10px;
  color: hsl(233, 8%, 79%);
}
.hamburger {
  display: none;
}
.mobile {
  display: none;
}
.logo {
  height: 100%;
}
.desk {
  width: 100%;
}
.title-text {
  width: 80%;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  body {
    margin: 8px;
  }
  .first {
    width: 100%;
  }
  .logo {
    margin-left: 0;
  }
  .links {
    display: none;
    flex-direction: column;
    color: white;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    position: fixed;
    right: -54%;
    top: 5%;
    width: 50%;
    height: 100%;
    background-color: white;
  }
  .submain {
    width: 100%;
  }
  .title-text {
    max-width: 335px;
  }
  .links a {
    color: hsl(240, 100%, 5%);
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-self: end;
    justify-items: end;
    align-items: end;
    align-self: flex-end;
    align-content: end;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .main {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }
  .submain {
    flex-direction: column;
  }
  .desk {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .second {
    margin-top: 10px;
  }
  .title-text {
    margin-bottom: 20px;
    margin-top: -37px;
  }
  .last {
    grid-template-columns: 1fr;
    margin-left: 0;
    align-items: start;
  }
  .links.active {
    transform: translateX(-100%);
    display: flex;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 950px) {
  body {
    margin: 8px;
  }
  .desk {
    width: 100%;
  }
  .main {
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
  }
  .last {
    gap: 20px;
    margin-right: 8px;
    margin-left: 0;
  }
  .submain {
    flex-direction: column;
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .title-text {
    margin-top: -30px;
    width: 700px;
    text-align: start;
    align-self: flex-start;
  }
  .logo {
    margin-inline-start: 0;
  }
  .links {
    margin-inline-end: 0;
  }
}
@media (max-width: 820px) {
  .list {
    width: 240px;
  }
}
